/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}

/* font */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/*layout*/
body {
  font-family: "NanumSquare", sans-serif !important;
  font-size: 14px;
  color: #4e4e4e;
  line-height: 1.4;
}

.wrap {
  width: 100%;
  min-width: 1100px;
}

/* header */
header {
  width: 100%;
  height: 120px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  line-height: 120px;
  clear: both;
  z-index: 100;
}
header .logo {
  display: inline-block;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -4px;
  color: #39312b;
  float: left;
}
header nav {
  float: right;
}
header nav .gnb li {
  display: inline-block;
  margin-left: 60px;
}
header nav .gnb li a {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
header nav .gnb li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #888;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
header nav .gnb li a:hover::after,
header nav .gnb li a:focus::after {
  width: 100%;
}
/* visual */
section.visual {
  margin-top: 120px;
  padding-bottom: 50px;
  position: relative;
}
section.visual::before {
  content: "";
  width: 53%;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0f0f0;
}
section.visual .img {
  width: 94%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
section.visual .img img {
  width: 100%;
}
section.visual .title {
  position: absolute;
  top: 40%;
  left: 8%;
  color: #fff;
}
section.visual .title h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
section.visual .title p {
  font-size: 20px;
  font-weight: 300;
}
section.visual .menu {
  position: absolute;
  bottom: 15%;
  left: 8%;
}
section.visual .menu li {
  float: left;
  margin-right: 60px;
}
section.visual .menu li a {
  display: block;
  color: #fff;
  clear: both;
}
section.visual .menu li a p {
  float: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}
section.visual .menu li a p span {
  display: block;
  font-weight: 200;
  font-size: 15px;
  color: #aaa;
}
section.visual .menu li a .arrow {
  display: block;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
section.visual .menu li a .arrow::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff79;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: -1;
  transition: all 0.3s;
}
/* a 안의 요소들로 인해 부모인 a가 높이값을 잃었을때, a의 가상클래스에 clear:both; display: block;을 하면 부모가 높이값을 되찾음 */
section.visual .menu li a::after {
  content: "";
  clear: both;
  display: block;
}
section.visual .menu li a:hover .arrow::before,
section.visual .menu li a:hover .arrow:focus {
  right: 0;
  top: 0;
}
section.visual .img .mask {
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.26);
}
section.visual .img .mask.a {
  left: 0%;
}
section.visual .img .mask.b {
  left: 25%;
}
section.visual .img .mask.c {
  left: 50%;
}
section.visual .img .mask.d {
  left: 75%;
}

@keyframes mask {
  0% {
    width: 25%;
    background-color: #000;
  }
  50% {
    width: 25%;
    background-color: #000;
  }
  99% {
    background-color: #000;
  }
}

section.visual .img .mask.a {
  animation: mask 0.4s;
}
section.visual .img .mask.b {
  animation: mask 0.6s;
}
section.visual .img .mask.c {
  animation: mask 0.8s;
}
section.visual .img .mask.d {
  animation: mask 1s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section.visual .title h2 {
  animation: slide-up 1.5s;
}
section.visual .title p {
  animation: slide-up 1.7s;
}
section.visual .menu {
  animation: slide-up 1.9s;
}
section.visual .img img {
  transform: scale(1);
  animation: scale-ani 2s;
}

@keyframes scale-ani {
  0% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* about */
section.about {
  width: 95%;
  margin: 40px auto;
  text-align: center;
  position: relative;
}
section.about img {
  width: 100%;
}
section.about .inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.about .inner h2 {
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
section.about .inner .line {
  width: 40%;
  margin: 80px auto 30px;
  position: relative;
}
section.about .inner .line span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.671);
}
section.about .inner .line li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
section.about .inner .line li.a {
  left: 0;
  top: -2px;
}
section.about .inner .line li.b {
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}
section.about .inner .line li.c {
  right: 0;
  top: -2px;
}
section.about .inner .line li::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffffa2;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  animation: dot 2s infinite;
  margin-top: -3px;
  margin-left: -3px;
}

@keyframes dot {
  100% {
    opacity: 1;
    transform: scale(4);
    opacity: 0;
  }
}
section.about .inner ul {
  width: 60%;
  margin: 0 auto;
}
section.about .inner ul li {
  color: #c5c5c5;
  float: left;
  width: 33.333%;
  font-size: 17px;
  font-weight: 100;
}
section.about .inner ul li h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #fff;
}
section.about .inner h2 {
  animation: slide-up 0.8s;
}
section.about .inner .line span {
  animation: opcity-ani 0.8s;
}
@keyframes opcity-ani {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}
section.about .inner .line li.a {
  animation: opcity-ani 0.8s;
}
section.about .inner .line li.b {
  animation: opcity-ani 1.2s;
}
section.about .inner .line li.c {
  animation: opcity-ani 1.6s;
}
section.about .inner ul li {
  animation: slide-up2 2.4s;
}
section.about .inner ul li:nth-child(2) {
  animation: slide-up2 2.8s;
}
section.about .inner ul li:nth-child(3) {
  animation: slide-up2 3.2s;
}
@keyframes slide-up2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* premium */
section.premium {
  width: 95%;
  margin: 40px auto;
  padding: 100px 0;
  height: 1020px;
  background: url(../img/con2_bg.jpg) no-repeat center / cover;
  position: relative;
}
section.premium .txt-img {
  position: absolute;
  left: 0;
  top: 20%;
  display: block;
  width: 100%;
  animation: width-ani 1.5s;
  overflow: hidden;
  /* overflow hidden을 주는 이유는 0~
  30%까지 넘치는 부분을 보이지 않도록 했기 때문 */
}
@keyframes width-ani {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
}
section.premium .title {
  position: absolute;
  left: 8%;
  top: 35%;
}
section.premium .title h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
section.premium .title p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 30px;
}
section.premium .title a {
  font-size: 24px;
  display: inline-block;
  position: relative;
}
section.premium .title a:before {
  content: "";
  width: 80px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}
section.premium .title a:hover:before,
section.premium .title a:focus:before {
  width: 0%;
}
section.premium .banner li {
  position: absolute;
  box-shadow: 5px 6px 15px #8a8a8a6b;
  width: 15%;
}
section.premium .banner li img {
  width: 100%;
}
section.premium .banner li:nth-child(1) {
  left: 45%;
  top: 15%;
  animation: slide-up 1.2s;
}
section.premium .banner li:nth-child(2) {
  left: 37%;
  top: 50%;
  animation: slide-up 1.5s;
}
section.premium .banner li:nth-child(3) {
  left: 55%;
  top: 62%;
  animation: slide-up 1.7s;
}
section.premium .banner li:nth-child(4) {
  right: 2%;
  width: 32%;
  max-width: 580px;
  animation: slide-up 1.9s;
}
